<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MemeMe App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D8C8AC0C1DDCA9BA008E1024</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8C8AC201DDCA9BB008E1024</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8C8AC2B1DDCA9BB008E1024</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
